{
    "$schema": "http://json.schemastore.org/swcrc",
    "jsc": {
        "target": "es2022",
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        },
        "transform": {
            "decoratorMetadata": true
        },
        "keepClassNames": true,
        "externalHelpers": true,
        "loose": true
    },
    "module": {
        "type": "commonjs",
        "strict": false,
        "strictMode": true,
        "lazy": false,
        "noInterop": false
    },
    "exclude": [
        "./src/**/.*.spec.ts$",
        "./**/.*.js$"
    ],
    "sourceMaps": true
}